
/* === Base Waybar Styling ================================================= */

@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
	font-weight: bold; 
	min-height: 0;
	font-size: 98%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
  background-color: rgba(30, 35, 38, 1);
  padding: 0px;
  border: 2px solid @orange;
  font-size: 16px;
}

/* === Workspaces ================================================= */

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @orange;
}

#workspaces button.empty {
  opacity: 0.5;
}


/* === Custom modules ================================================= */

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-expand-icon {
  margin-right: 20px;
}

#custom-update {
  font-size: 10px;
}

/* === Module Groups Styling================================================= */

.modules-left {
	color: @orange;
  border: 2px solid @orange;
  padding: 1px 12px;
  margin: 6px 6px
}

.modules-center {
	color: @orange;
	border: 2px solid @orange;
  padding: 1px 12px;
  margin: 6px 6px
}

.modules-right {
  color: @orange;
  border: 2px solid @orange;
  padding: 1px 12px;
  margin: 6px 6px
}

/* ===Modules Default Style================================================= */
#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#tray,
#bluetooth,
#network,
#clock {
  padding: 2px 5px;
}

.hidden {
  opacity: 0;
}


/* === Tooltips ================================================= */

tooltip {
	color: @green;
  padding: 2px;
  background: rgba(30, 35, 38, 1);;
  border-radius: 0px;
}

tooltip label{
	color: @green;
}


/* === Hover effects ================================================= */

#cpu:hover,
#battery:hover,
#pulseaudio:hover,
#custom-omarchy:hover,
#custom-steam-bpm:hover,
#custom-firefox-bpm:hover,
#custom-terminal:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover,
#tray:hover,
#bluetooth:hover,
#network:hover,
#custom-playerctl:hover,
#custom-fanboost:hover,
#clock:hover {
  background-color: #6a6a4c;
  border: 2px solid #c2b756;
  color: #c2a556;
  padding: 0px 6px;
  transition: all 0.2s ease-in-out;
}
